*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
section{
    display: flex;
}
.left-child{
    height: 100vh;
    width: 48%;
    background-color: rgb(232, 230, 252);
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-content{
    display: flex;
    flex-direction: column;
    height: 580px;
    width: 320px;
    /* background-color: brown; */
    margin-top: 100px;
}
.left-content p{
    font-size: 32px;
    margin-top:100px ;
    color: rgb(63, 60, 60);
}
.left-content a{
    margin-top: 80px;
    margin-right: 200px;
    color: blue;
}
.right-child{
    width: 52%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 82px;
}
.right-child h3{
    font-size: 36px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    width: 200px;
    margin-top: 54px;
}
input{
    width: 300px;
    height: 48px;
    border-radius: 8px;
    border: 2px solid  rgb(199, 212, 238);
    transition: 0.3s;
    box-shadow: 0px 0px 0px 0px transparent, 0px 0px 0px 0px transparent;
}

button{
    background-color: blue;
    border: none;
    height: 44px;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    font-size: 16px;
    margin-top: 18px;
    width: 300px;
    margin-bottom: 12px;
}
.signIn{
    background-color:white;
    color: black;
    border: 2px solid gray;
    width: 220px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 10px 20px;
}
.right-child p{
    font-size: 14px;
   
}
.link{
    color: blue;
}
